:root{
    --Headline:'Roboto Condensed', sans-serif;
}

/* First Click Container Animation added */
.Ani-left{
    animation: Sleft 1.5s both;
}

@keyframes Sleft {
    100%{
        
        transform: translateX(100%);
    }
    
}
.Ani-right{
    animation: Sright 1.5s both;
}

@keyframes Sright {
    100%{
        
        transform: translateX(-100%);
    }
    
}
/* ////////////////////// */

/* First Click Contant Animation added */
.Left_C {
    animation: Showw 1.5s both;
    animation-delay: 0.3s;   
}

@keyframes Showw {

    0%{
        transform: translateX(-500px);
        opacity: 0;
    }
    
    1%{

    }
    
}

.Right_C {
    animation:  Hidee 1.5s both ;
    animation-delay: 0.3s;
}

@keyframes Hidee {
    
    0%{
        opacity: 0;
        transform: translateX(200px);
    }
 

}
/* ////////////////// */



/* Second Click Container Animation added */
.B_right{
    animation: BR 1s both;
}

@keyframes BR {
    0%{
        transform: translateX(100%);
    }
    
}

.B_left{
    animation: BL 1s both;
}

@keyframes BL {
    0%{
        transform: translateX(-100%);
    }
    
}
/* /////////////////////// */

/* Second Click Contant Animation added */
.Left_Back {
    animation: Showww 1.5s both;
    animation-delay: 0.3s;   
}

@keyframes Showww {

    0%{
        transform: translateX(100px);
        opacity: 0;
    }
    
    1%{

    }
    
}

.Right_Back {
    animation:  Hideee 1.5s both ;
    animation-delay: 0.3s;
}

@keyframes Hideee {
    
    0%{
        opacity: 0;
        transform: translateX(-200px);
    }
 

}
/* ///////////////////// */



/* Media Animations with mirror changes */
@media (max-width:500px) {

    #container{
        flex-wrap: wrap;
    }

    section{
        align-items: start;
    }

    .Ani-left{
        animation: Sleft 1.5s both;
    }
    
    @keyframes Sleft {
        100%{
            
            transform: translateY(100%);
        }
        
    }
    .Ani-right{
        animation: Sright 1.5s both;
    }
    
    @keyframes Sright {
        100%{
            
            transform: translateY(-100%);
        }
        
    }

    .B_left{
        animation: BLrr 1s both;
    }
    
    @keyframes BLrr {
        0%{
            transform: translateY(-100%);
        }
        
    }
    
    .B_right{
        animation: BRrr 1s both;
    }
    
    @keyframes BRrr {
        0%{
            transform: translateY(100%);
        }
        
    }
    
    
   

}